.order-product-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    /* padding: 20px 50px; */
  
}

.order-product{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 21px auto ;
    background-color: rgb(230, 227, 228);
    padding: 5px 10px;
    width:  80%;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: relative;
}

.order-product img{
    width: 91px;
    height: 91px;
    border-radius: 10px;
}

.product-info{
    margin-left: 15px;
}
.product-info p{
    margin: 3px 0px;
}
.btn-d{
    border: none;
    background: lightcoral;
    color: whitesmoke;
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    right: 3%;
    cursor: pointer;
}
.btn-d:hover{
    opacity: 0.5;
    box-shadow: 4px 4px 10px gray;
}